<p>
  <%= f.label :question, "Questão" %> <br/>
  <%= f.text_area :question, :rows => 3%>
  <%= f.check_box :_destroy%>
  <%= f.label :_destroy, "Remove questão"%>
  <br/>
</p>
<% f.fields_for :alternatives do |builder|%>
  <%= render "alternatives_fields", :f => builder %>
<% end %>

